<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard de Devises</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="text-white">Tableau de bord - {{ page_label }}</h1>
                <a href="{% url 'home' days_range=7 currencies=currencies %}" class="btn {% if page_label == 'Semaine' %}btn-info{% else %}btn-secondary{% endif %}">Semaine</a>
                <a href="{% url 'home' days_range=30 currencies=currencies %}" class="btn {% if page_label == 'Mois' %}btn-info{% else %}btn-secondary{% endif %}">Mois</a>
                <a href="{% url 'home' days_range=365 currencies=currencies %}" class="btn {% if page_label == 'Année' %}btn-info{% else %}btn-secondary{% endif %}">Année</a>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for currency, rates in data.items %}
                <div class="col-md-10 col-lg-6">
                    <canvas id="chart-{{ currency }}"></canvas>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>

        {% for currency, rates in data.items %}
            var ctx = document.getElementById("chart-{{ currency }}");
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ days_labels|safe }},
                    datasets: [{
                        label: "{{ currency }}",
                        data: {{ rates|safe }},
                        fill: true,
                        borderColor: 'rgb(255, 128, 128)',
                        tension: 0.3
                    }]
                }
            });
        {% endfor %}
    </script>
</body>
</html>